<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
    <title>rsslay</title>
</head>

<body>
<div class="hero is-primary">
    <div class="hero-body">
        <p class="title"><a href="/">rsslay</a></p>
        <p class="subtitle">rsslay turns RSS or Atom feeds into <a
                href="https://github.com/nostr-protocol/nostr">Nostr</a> profiles.</p>
    </div>
</div>
<div class="container is-fluid mt-4">
    {{if .Error}}
    <div class="notification is-danger">
        {{.ErrorMessage}}
    </div>
    {{else}}
    <div class="box">

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Public Key (Hex)</label>
            </div>
            <div class="field-body">
                <div class="field has-addons">
                    <p class="control is-expanded">
                        <input id="pubKey" class="input is-readonly" type="text" value="{{.PubKey}}" readonly>
                    </p>
                    <div class="control">
                        <button class="button is-info copy" name="pubKey">
                            <span class="icon">
                                <i class="fas fa-copy"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Public Key</label>
            </div>
            <div class="field-body">
                <div class="field has-addons">
                    <p class="control is-expanded">
                        <input id="nPubKey" class="input is-readonly" type="text" value="{{.NPubKey}}" readonly>
                    </p>
                    <div class="control">
                        <button class="button is-info copy" name="nPubKey">
                            <span class="icon">
                                <i class="fas fa-copy"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">URL</label>
            </div>
            <div class="field-body">
                <div class="field has-addons">
                    <p class="control is-expanded">
                        <input id="url" class="input is-readonly" type="url" value="{{.Url}}" readonly>
                    </p>
                    <div class="control">
                        <button class="button is-info copy" name="url">
                            <span class="icon">
                                <i class="fas fa-copy"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons is-justify-content-center">
            <a href="https://astral.ninja/{{.NPubKey}}" target="_blank" class="button is-link is-light">View in astral.ninja</a>
            <a href="https://iris.to/#/profile/{{.NPubKey}}" target="_blank" class="button is-link is-light">View in iris.to</a>
            <a href="https://snort.social/p/{{.NPubKey}}" target="_blank" class="button is-link is-light">View in snort.social</a>
            <a href="nostr:{{.NPubKey}}" target="_blank" class="button is-link is-light">Open in default app</a>
        </div>
    </div>
    {{end}}
    <a class="button is-primary mt-3 mb-3" href="/">
        <span class="icon">
            <i class="fas fa-home"></i>
        </span>
        <span>Go home</span>
    </a>
</div>
<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>rsslay</strong> original work by <a href="https://fiatjaf.com">fiatjaf</a> modifications by <a
                href="https://piraces.dev">piraces</a>. The source code is
            <a href="https://github.com/piraces/rsslay/blob/main/LICENSE">UNlicensed</a>. Keep the good vibes 🤙
        </p>
    </div>
</footer>
<script type="text/javascript">
    async function copyToClipboard(name) {
        const input = document.getElementById(name);
        input.select();
        let text = input.value;
        try {
            await navigator.clipboard.writeText(text);
        } catch (err) {
            console.error('Failed to copy: ', err);
        }
    }
    document.addEventListener("DOMContentLoaded", function(_) {
        document.querySelectorAll('button.copy').forEach(item => {
            item.addEventListener('click', _ => copyToClipboard(item.name));
        });
    });
</script>
</body>

</html>