<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>rsslay</title>
</head>

<body>
    <div class="hero is-primary">
        <div class="hero-body">
            <p class="title"><a href="/">rsslay</a></p>
            <p class="subtitle">rsslay turns RSS or Atom feeds into <a
                    href="https://github.com/nostr-protocol/nostr">Nostr</a> profiles.</p>
        </div>
    </div>
    <div class="container is-fluid mt-4">
        {{if .Error}}
            <div class="notification is-danger">
              {{.ErrorMessage}}
            </div>
        {{else}}
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Public Key</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control">
                    <input class="input is-static" type="text" value="{{.PubKey}}" readonly>
                  </p>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">URL</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control">
                    <input class="input is-static" type="url" value="{{.Url}}" readonly>
                  </p>
                </div>
              </div>
            </div>
        {{end}}
        <a href="/">Go home</a>
    </div>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>rsslay</strong> original work by <a href="https://fiatjaf.com">fiatjaf</a> modifications by <a href="https://piraces.dev">piraces</a>. The source code is
                <a href="https://github.com/piraces/rsslay/blob/master/LICENSE">UNlicensed</a>. Keep the good vibes 🤙
            </p>
        </div>
    </footer>
</body>

</html>